#exam {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#exam .text {
    word-spacing: 0.2em;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 1em;
    border-bottom: 1vw solid #4f80a1;
    line-height: 1.2em;
    overflow: auto;
    display: inline-block;
    width: 80%;
    height: 30vh;
    position: absolute;
    display: flex;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
}

#exam .imageContainer {
    position: relative;
    display: flex;
    top: 5vh;
    height: 40vh;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

#exam .imageContainer img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.examPopUp #shadowLayer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 20%;
}

.examPopUp .popUp{
    z-index: 2000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%; 
    background-color: rgb(161, 216, 221);
    border: 6px solid rgb(255, 255, 255);
    opacity: 100%;
    
}

.examPopUp #choiceWindow{
    height: auto;
    width: auto; 
    padding: 30px;
}