h2 {
    text-align: center;
   
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.map img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%

}

.map-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .describe_content {
    position: fixed;
    top: 120px;
    right: 60px;
    font-size: 18px;
  }

  .img {
    position: fixed;
    top: 100px;
    left: 40px;
    font-size: 18px;
  }

 .tdC {
    background: rgb(65, 109, 65);
    color: #fff;   
    font-size: 16px;
    padding: 12px 15px;
    width: 400px;
    border-collapse: collapse;
    border: 1px solid #eee;
    overflow-wrap: break-word;
  }

  .tdT {  
    background: rgb(47, 80, 47);
    color: #fff;   
    font-size: 17px;
    /*text-align: center;*/
    width: 400px;
    border-collapse: collapse;
    border: 1px solid #eee;
    overflow-wrap: break-word;
    padding: 3px 15px;
  }

  .tdB {  
    background: rgb(47, 80, 47);
    color: #fff;   
    font-size: 14px;
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    border: 1px solid #eee;
    overflow-wrap: break-word;
    padding: 3px 15px;
  }

  
  .link:hover {
    background-color:  rgba(72, 92, 117, 0.555);
    /*padding: 5px 10px;*/
  }
  .link {
    position: fixed;
    top: 612px;
    left: 850px;
    background-color: rgb(65, 85, 109);
    padding: 8px 13px;
    overflow: hidden;
    border-radius: 100px;
    width: 200px;
  }

  td > a {
    display: block; /*it's all clickable in the whole cell */ 
  }
  