h2 {
    text-align: center;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.map img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%

}

.map-img {
    /*background-image: url('/src/backend/background/map.png');*/
    min-height: 500px;
    max-width: 850px;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .detail {
    position: absolute;
    top: 80px;
    right: 200px;
    font-size: 18px;
  }
  .describe_content {
    position: absolute;
    top: 120px;
    right: 200px;
    font-size: 18px;
  }

