.profile {
    padding: 10px;
}

.profile h2 {
    padding: 10px 0 15px 0;
    text-align: center;
}

.profile .container {
    width: 100%;
    transform: translateY(0%);
    background-color: transparent;
}

.profile .row {
    color: black;
    font-size: 25px;
    padding: 10px 0 10px 0;
}

.profile .first {
    padding: 15px;
    overflow: auto;
    float: left;
    width: 50%;
}

.profile .second {
    padding: 15px;
    overflow: auto;
    float: left;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .profile .first, .profile .second {
      width: 100% !important; 
    }
  }

.profile #image {
    text-align: center;
    vertical-align: middle;
    overflow: auto;
}

.profile img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.profile #textbox {
    text-align: left;
    word-wrap: break-word;
}

.profile .edit {
    background-color: green;
    color: white;
    border-radius: 10%;
}

.profile #shadowLayer2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: black;
    opacity: 25%;
}

.profile #confirmWindow{
    height: auto;
    width: auto; 
    padding: 30px;
    z-index: 6000;
}

.profile .achievement img {
    position: relative;
    height: 100px;
    width: auto;
    padding: 10px;
}