.schedule{
    text-align: center;
}

.schedule h2{
    padding: 10px 0 0 0;
}

.schedule h3{
    padding: 5px 0 10px 0;
}

.task{
    background-color: rgb(123, 161, 117);
    border: 1px solid rgba(0, 128, 0, 0);
    padding: 20px;
    margin: 5px;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    right: auto !important;
}


.column{
    width: 25%;
    padding: calc(3%/2);
    border: 1px solid rgb(41, 35, 15);
}

.confirm{
    background-color: green;
    color: white;
    padding: 10px;
    position: relative;
    border-radius: 10%;
    left: 50%;
    transform: translate(-50%,-80%);
}

.schedule .colBorder{
    border: 1px solid rgb(59, 53, 14);
}

.schedule .content{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
}

.leftText{
    padding: 10px 0 0 0;
    text-align: left;
    font-size: 20px;
}

#shadowLayer2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: black;
    opacity: 25%;
}

#confirmWindow{
    height: auto;
    width: auto; 
    padding: 30px;
    z-index: 6000;
}