.schedule{
    text-align: center;
}

.task{
    background-color: rgb(123, 161, 117);
    border: 1px solid rgba(0, 128, 0, 0);
    padding: 20px;
    margin: 5px;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    right: auto !important;
}


.column{
    width: 17.5%;
    padding: calc(3%/2);
    border: 1px solid rgb(41, 35, 15);
}

.confirm{
    background-color: green;
    color: white;
    padding: 10px;
    position: relative;
    border-radius: 10%;
    left: 95%;
    transform: translate(-100%,20%);
}

.schedule #test{
    border: 1px solid rgb(59, 53, 14);
}