.event{
    height: 100%;
    background: green;
    background-image: url('/src/backend/background/na.jpeg');
    background-size: 100%;
}

.event .topLeft{
    position: absolute;
    top: 50px;
    left: 16px;
    width: 20%;
    background-color: yellow;
}

.event .topRight{
    position: absolute;
    top: 50px;
    right: 16px;
    width: 20%;
    cursor: pointer;
    background-color: rgb(0, 140, 255);
}

a { color: inherit; } 

.text span {
    opacity: 0;
 }
 .text span.revealed {
    opacity: 1;
 }

 
 /* Demo styles */
 .text {
     
    word-spacing: 0.2em;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 1em;
    border-bottom: 1vw solid #4f80a1;
    line-height: 1.2em;
    overflow: auto;
    display: inline-block;
    width: 80%;
    height: 30vh;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
 }

 .corner {
    position:absolute;
    width: 10vw;
    right:2vw;
    bottom:0;
    transform: translateY(80%); 
 }


#shadowLayer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 20%;
}


.event .popUp{
    z-index: 2000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    background-color: rgb(214, 213, 213);
    border: 6px solid rgb(0, 100, 5);
    opacity: 100%;
    
}


#choiceWindow{
    height: auto;
    width: auto; 
    padding: 30px;
}

.event #eventStarter {
    position: absolute;
    left: 50%;
    transform: translate(0, -50%);
    top: 70%;
}