#event{
    height: 100vh;
    background: green;
    background-image: url('/src/backend/background/na.jpeg');
    background-size: 100%;
}

.topLeft{
    position: absolute;
    top: 50px;
    left: 16px;
}

.topRight{
    position: absolute;
    top: 50px;
    right: 16px;
    cursor: pointer;
}

a { color: inherit; } 

.text span {
    opacity: 0;
 }
 .text span.revealed {
    opacity: 1;
 }

 
 /* Demo styles */
 .text {
     
    word-spacing: 0.2em;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 1em;
    border-bottom: 1vw solid #4f80a1;
    line-height: 1.2em;

    display: inline-block;
    width: 1000px;
    height: 200px;
    position: absolute;
    bottom: 90px;
    right: 200px;
    font-size: 30px;
 }

 .corner {
    position:absolute;
    width: 10vw;
    right:2vw;
    bottom:0;
    transform: translateY(80%); 
 }


#shadowLayer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 20%;
}

.popUp{
    z-index: 2000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%; 
    background-color: rgb(214, 213, 213);
    border: 6px solid rgb(0, 100, 5);
    opacity: 100%;
    
}


#choiceWindow{
    height: auto;
    width: auto; 
    padding: 30px;
}