.friendList {
    padding: 10px;
}

.green {
    background-color: green;
}

.lightGreen {
    background-color: rgb(83, 204, 83);
}
.red {
    background-color: red;
}

.yellow {
    background-color:rgb(255, 174, 0);
}

.gray {
    background-color: gray;
}

.displaySuccessMessage {
    color: rgb(61, 153, 61);

}

@keyframes fadeOut{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

.fade-out {
    animation: fadeOut 5s;
}
.userStatus {
    display:inline-block;
    width: 30px;
    height:30px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.userStatus_block {
    position: absolute;
    width:36px;
    height:36px;
}

.userStatus_head {
    position: absolute;
    width:15px;
    height:15px;
    border-radius: 7.5px;
    left: 10.5px;
    top: 6px;
}

.userStatus_body {
    position: absolute;
    width:20px;
    height:15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    left: 8px;
    top: 21px;
}

.friendAdder {
    cursor: pointer;
    display:inline-block;
    width: 30px;
    height:30px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

}


.friendAdder_roundBlock {
    position: absolute;
    width:48px;
    height:30px;
    border-radius:8px;
    padding-top: 3px;
}

.friendAdder_head {
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color:#fff;
    left: 18px;
    top: 8px;
}

.friendAdder_body {
    position: absolute;
    width:20px;
    height:10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:#fff;
    left: 13px;
    top: 20px;

}

.friendAdder_horizontal {
    position: absolute;
    width:3px;
    height:10px;
    background-color:#fff;
    left:35px;
    top:6px;

}

.friendAdder_vertical {
    position: absolute;
    width:10px;
    height:3px;
    background-color:#fff;
    left:31.5px;
    top:9.5px;

}
.checkmark {
    cursor: pointer;
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    padding-top: 3px;
    padding-left: 3px;
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    border-radius:11px;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:14px;
    top:9px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:11px;
    top:15px;
}

.checkmark_cross {
    position: absolute;
    width:3px;
    height:10px;
    background-color:#fff;
    left:12.5px;
    top:9px;
}

.checkmark_slash {
    position: absolute;
    width:10px;
    height:3px;
    background-color:#fff;
    left:9px;
    top:12.5px;
}