#background {
    height: 100vh;
    width: 100vw;
    color: rgb(0, 0, 0);
    background-image: url('/src/backend/background/main.jpeg');
    background-size: auto 100%;
}

.container {
    position: absolute;
    left: 37%;
    right: 37%;
    top: 25%;
    bottom: 25%;
    height: 50%;
    width: 26%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-radius: 10%;
    opacity: 75%;
    padding: 0;
}

#box1 {
    background-color: rgb(255, 0, 0);
    position: absolute;
    height: 20%;
    width: 100%;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
    font-size: 2vh;
    resize: none;
    
}

#box2 {
    background-color: rgb(0, 255, 34);
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#box3 {
    background-color: rgb(187, 255, 0);
    position: absolute;
    top: 80%;
    height: 20%;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#box4 {
    position: absolute;
    left: 50%;
    top: 80%;
    height: 20%;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}