#main{
    height: 100vh;
    background-image: url('/src/backend/background/main.jpeg');
    background-size: auto 100%;
}
  
.mainButton{
    padding: 100px;
    font-size: xx-large;
}
  
.statchild {
    display: inline-block;
    width: 105px;
    height: 105px;
    background-color: rgb(76, 168, 196);
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: 10px;
}

.statBottomRight{
    display: inline-block;
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-size: 30px;
}

.statBottomLeft{
    display: inline-block;
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    left: 16px;
    font-size: 30px;
}

#shadowLayer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 50%;
}

.popUp{
    z-index: 2000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%; 
    background-color: rgb(214, 213, 213);
    border: 6px solid rgb(0, 100, 5);
    opacity: 100%;
    overflow: auto;
}

.closeButton{
    z-index: 3000;
    position: absolute;
    background-color: rgb(255, 123, 0);
    left: 95%;
    top: 5%;
    transform: translate(-60%, -30%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 13px;
}

#logout{
    height: auto;
    width: auto; 
    padding: 30px;
}

.btn{
    padding: 10px 20px 10px 20px;
}

/*
.logoutButton{
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    text-align: center;
    width: 75px;
    height: 75px;
    color: white;
    border-radius: 10%;
}

.logoutButton:active{
    transform: translate(0,2px);
}
*/