#login {
    margin: 0;
    font-family: Comic sans MS;
    height: 100vh;
    width: 100vw;
    color: rgb(0, 0, 0);
    background-image: url('/src/backend/background/main.jpeg');
    background-size: auto 100%;
}

#login .container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    opacity: 75%;
}

#login .container h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

#login .txt_field {
    padding: 10px 25px 0 25px;
    font-size: 20px;
}

#login .txt_field input {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    font-size: 15px;
}

#login .error {
    font-size: 15px;
    color: red;
    margin: 0;
    padding: 0;
    transform: translateY(-17px);
}

#login .buttons {
    padding: 10px 25px;
    font-size: 20;
}

#login #submit_box {
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
}

#login #submit_box:active {
    transform: translateY(2px);
}

#login .links {
    padding: 0 0 0 25px;
    transform: translate(0, 0);
}

#login .links a {
    text-decoration: none;
}

#login .links p {
    padding: 0 0 10px 0;
}

#login .buttons a {
    text-decoration: none;
    color: rgb(51, 51, 255);
}

#login .buttons a:active {
    color: rgb(97, 4, 97);
}

#login .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 75%;
    text-align: center;
}